body{
    width: 1440px;
    height: 100vh;
    background-color: var(--primary-soft-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 750px;
    height: 500px;
}

.main_container .perfume_image img{
    height: 500px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid var(--primary-soft-color);
}

.main_container .perfume_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid var(--primary-soft-color);
}

.main_container .perfume_info .perfume_name{
    font-family: 'Montserrat', sans-serif;
    color: var( --neutral-medium-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 10px;
}

.main_container .perfume_info .perfume_title{
    font-size: 40px;
    font-family:'Fraunces', serif;
}

.main_container .perfume_info .perfume_description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var( --neutral-medium-color);
}

.main_container .perfume_info .perfume_price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_container .perfume_info .perfume_price span{
    font-family:'Fraunces', serif;
    font-size: 40px;
    color: var(--primary-dark-color);
}

.main_container .perfume_info .perfume_price p{
    color: var( --neutral-medium-color);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    margin-right: 80px;
}

.buy_btn{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark-color);
    transition: 0.3s;
}

.buy_btn .buy_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}

.buy_btn:hover{
    cursor: pointer;
    background-color: var(--neutral-dark-color);
}

